/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/* .main-images {
  width: 100%;
  object-fit: cover;
  height: 300px;
} */

.Meta-data {
  background: #fff;
  padding: 10px;
  margin-top: -200px;
}
.btnDownload {
  position: absolute !important;
  right: 10px;
  top: 20px;
}

.dld.btn-group {
  width: 100%;
}

.Meta-data {
  visibility: hidden;
  background: #00000073;
  padding: 10px;
  margin-top: -73px;
  z-index: 99 !important;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autherDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.autherDesc span {
  gap: 10px;
  display: flex;
}

.Meta-data img {
  border-radius: 100% !important;
  border: 1px solid #fff;
  width: 50px;
}

.HoverBox:hover .Meta-data {
  visibility: visible;
}

.modal-body {
  padding: 0;
  box-shadow: 0px 0px 8px 1px #00000021 !important;
  border-radius: 10px !important;
}
.btnCloseModal {
  position: absolute;
  box-sizing: content-box;
  width: 20px;
  padding: 5px;
  color: #000;
  border: 0;
  border-radius: 100px;
  opacity: 0.5;
  background: #fff;
  text-align: center;
  height: 20px;
  line-height: 19px;
}

.btnCloseModal:hover {
  color: #000;
  opacity: 1;
  background: #fff;
}

.loading-circle {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 999;
}

.formInputSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
  width: 80%;
}

.formInputSearch .input-group {
  gap: 10px;
  width: 70%;
}

.formInputSearch .input-group select,
.formInputSearch .input-group button {
  border-radius: 5px !important;
}

.text-center.mt-4.pageInfo {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .formInputSearch,
  .formInputSearch .input-group {
    width: 100%;
  }
}
